# IDE
.vscode/

# Node Modules & Build
node_modules/
dist/
.pnpm-store/

# Environment Variables
.env
.env.example

# Documentation & TODOs
docs/
TODO.md

# Contracts ABI
packages/contracts-shared/src/abi

# Docker local overrides
docker-compose.override.yml