# IDE
.vscode/

# Node Modules & Build
node_modules/
dist/
.pnpm-store/

# Environment Variables
.env
.env.example

# Documentation & TODOs
docs/
TODO.md

# Contracts ABI + generated TypeChain bindings
packages/contracts-shared/src/abi
packages/contracts-shared/src/generated

# Docker local overrides
docker-compose.override.yml